<div class="input-field {{#if class}}{{ class }}{{/if}}">
    <div class="input-field__title">
        {{ title }}
    </div>
    <input
        class="input"
        id="{{ input_id }}"
        type="{{ type }}" 
        title="{{ title }}" 
        name="{{ name }}" 
    >
</div>
